<levels>
  level2.txt
  level2.txt
  level1.txt
</levels>

<textures>
robro1.1
groundSpriteFile
LazerSharktopus
gameOver
bolt
</textures>

<soundEffects>
SumoHit
</soundEffects>

<fonts>
  timerFont
</fonts>

<derp>
playerTextureIndex=0
playerTextureWidthOffset=
playerTextureHeightOffset=
playerTextureStartX=
playerTextureStartY=
tileTextureIndex=1
tileTextureWidthOffset=
tileTextureHeightOffset=
tileTextureStartX=
tileTextureStartY=
guardTextureIndex=2
</derp>